<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head th:fragment="head-source">
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Employees and Department</title>

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"/>

    <link rel="stylesheet" href="/css/bootstrap.min.css"/>

    <link rel="stylesheet" href="/css/style.css"/>

    <style>
        body {
            background: linear-gradient(rgba(216, 40, 89, 0.5), rgba(63, 193, 97, 0.21));
            background-size: cover;
        }
    </style>

</head>
<body>

<nav class="navbar navbar navbar-expand-lg navbar-light nav-background" th:fragment="main-navbar">
    <a class="navbar-brand text-light" href="/">
       Sterling Solutions Employee & Department Company Application
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>


</nav>


<footer th:fragment="footer">
    <div class="footer" align="left">
        <hr/>
        <span class="text-muted">&copy; 2019 Jennifer Ukegbu</span>
    </div>
</footer>

<div th:fragment="scripts">

    <script src="/js/jquery.3.2.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/popper.min.js"></script>
</div>

</body>
</html>