<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head th:replace="base :: head-source">
<body class="list-back" >
<nav th:replace="base :: main-navbar"></nav>
<div class="container p-5 bg-light">
    <h1>Employee Department Entry Form</h1>
    <div class="emptySpace"></div>
    <form action="#"
          th:action="@{/processdepartment}"
          th:object="${department}"
          method="post">

        <input type="hidden" th:field="*{id}" />
        <p>Please Enter your job title within Sterling Solutions Inc.</p>
        Employee Job Title :<input type="text" th:field="*{jobTitle}" />

        <span th:if="${#fields.hasErrors('jobTitle')}"
              th:errors="*{jobTitle}"></span><br />

        <span th:text="${message}"></span><br/>

        <input type="submit" value="Submit" />

    </form>
</div>
</body>
</html>